@charset "UTF-8";
/*全体設定*/
html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

.slick-slide {
  object-fit: fill;
}

/*ヘッダー*/
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
}

.header {
  /*ハンバーガーボタン*/
}

.header__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: space-between;
  padding: 22px 40px;
}

.header__logo {
  width: 180px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header__humberger {
  display: block;
  position: fixed;
  z-index: 99;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.header__bar {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  right: 6px;
  background: #555;
  transition: .3s ease-in-out;
}

.header__bar-top {
  top: 10px;
}

.header__bar-middle {
  top: 20px;
}

.header__bar-bottom {
  top: 30px;
}

.header__wrapper-mask {
  display: block;
  position: fixed;
  top: 70px;
  left: -500px;
  margin: 0;
}

.header__menu-item {
  margin: 0 20px;
  padding: 10px 0;
}

.header__menu-link {
  padding: 30px 0;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.header__menu-link:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.header__humberger-menu {
  padding-top: 30px;
}

.header__humberger-menu li {
  padding: 20px 0;
  border-top: solid 1px #fff;
}

.header__humberger-menu li:last-child {
  border-bottom: 1px solid #fff;
}

.header__contact {
  padding-top: 40px;
}

.header__contact li {
  padding-top: 0;
}

/*ハンバーガーを開いたとき*/
.active-top {
  transform: translate(0, 10px) rotate(405deg);
  transition: transform 0.5s;
}

.active-middle {
  display: none;
  transition: transform 0.5s;
}

.active-bottom {
  transform: translate(0, -10px) rotate(-405deg);
  transition: transform 0.5s;
}

.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.on {
  display: block;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background: #121212;
  z-index: 110;
  opacity: 1;
}

/*メイン*/
main {
  padding-top: 86px;
}

.main__head-video video {
  object-fit: fill;
  width: 100%;
}

.pickup .pickup__logo {
  margin: 0;
  padding: 100px 0 30px 0;
  text-align: center;
  font-size: 36px;
}

.pickup .pickup__item img {
  width: 80%;
  object-fit: fill;
  margin: 0 auto;
}

.feature .feature__logo {
  text-align: center;
  margin: 0;
  padding: 100px 0 20px 0;
  font-size: 36px;
}

.feature .feature__wrap ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
  max-width: 1240px;
}

.feature .feature__contents {
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
  width: 30%;
  margin: 15px;
}

.feature .feature__content-img {
  width: 100%;
}

.feature .feature__content-img img {
  width: 100%;
}

.feature .feature__category {
  font-size: 10px;
  padding: 15px 20px;
}

.feature .feature__txt {
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
}

.feature .feature__date {
  font-size: 10px;
  text-align: right;
  padding: 30px;
}

/*フッター*/
footer {
  height: 600px;
}

.footer__wrap {
  background-color: #000;
  color: #fff;
}

.footer__logo {
  text-align: center;
  padding: 40px 0 20px 0;
}

.footer__logo h2 {
  margin: 0;
  font-size: 40px;
}

.footer__form {
  display: flex;
  justify-content: space-around;
}

.footer__txt {
  width: 40%;
  padding: 20px;
}

.footer__txt p {
  margin: 0 0 20px 0;
}

.footer__contact {
  width: 40%;
  padding: 20px;
}

.footer__contact p {
  margin: 0;
  padding-top: 20px;
}

.footer__contact input {
  width: 95%;
  height: 40px;
}

.footer__contact-message textarea {
  width: 95%;
  height: 80px;
}

.footer__right {
  text-align: center;
}

.footer__submit-btn {
  margin-top: 20px;
  width: 30%;
  height: 50px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

.footer__right {
  font-size: 12px;
  padding-top: 20px;
}

/*レスポンシブ*/
@media screen and (max-width: 940px) {
  .feature__wrap ul .feature__contents {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .feature__wrap ul .feature__contents {
    width: 90%;
  }
  .footer__form {
    flex-flow: column;
  }
  .footer__txt {
    width: 90%;
  }
  .footer__contact {
    width: 98%;
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */