
@media screen and(max-width: 940px) {
  .feature {
    &__wrap {
      ul {
        .feature__contents {
          width: 45%;
        }
      }
    }
  }
}

@media screen and(max-width: 640px) {
  .feature {
    &__wrap {
      ul {
        .feature__contents {
          width: 90%;
        }
      }
    }
  }

  .footer {
    &__logo {
      h2 {
        font-size: 30px;
      }
    }
    
    &__form {
      flex-flow: column;
    }

    &__txt {
      width: 90%;
    }

    &__contact {
      width: 98%;
      align-items: center;
      input, textarea {
        width: 100%;
      }
    }

    &__submit-btn {
      width: 100%;
    }
  }
  
}

